.background{
  background-image: url('src\assets\images\pexels-luis-dalvan-1770809.jpg');
  padding-bottom: 0px;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}


.form{
 width:390px;
 max-width: 600px;
 margin: 2rem;
 padding: 2rem;
 background:#fff;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 border-width: 10px;
}

.field mat-form-field{
  display: block;
}

.title{
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 600;
}


